.content{
    grid-area: content;
    background-color: var(--color-bg-dark);
    border-radius: 20px;
    padding: 10px;
}
.content h1{
    color: var(--color-text-dark);
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}
.Service_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}